.sectionMargin{
    margin-top: 100px;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.categoNameColor{
    color: #0aad0a;
}
.padding{
    padding-left: 20px;
    padding-right: 20px;
}

.heartSize{
    font-size: larger !important;
}